registry=https://registry.npmjs.org/
@michaelbruns1:registry=https://npm/pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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